{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
<a href="https://github.com/xbox1994"><img style="z-index: 1; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      {% if page.location == 'index' %}
      <div id="banner-image">
        <div class="layer">
          <div id="banner-text">
            <h1 class="page-title">{{ site.title }}</h1>
            <p class="page-desc">
              {{ site.subtitle }}<br>
            </p>
            <br>
            <br>
            <div class="page-links center">
              <ul class="index-nav">
                  {% include navigation_links.html %}
              </ul>
            </div>
          </div>
          <ins class="adsbygoogle"
               style="display:inline-block;width:970px;height:90px"
               data-ad-client="ca-pub-9302170960404440"
               data-ad-slot="8551597963"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      {% else %}
        <header role="banner">
          {% include navigation.html %}
        </header>
      {% endif %}
      <div id="main" role="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </body>
</html>
