<div class="container" style="text-align: center;">
    <div style="text-align: center;width: 100%; height: auto;clear: both">
        <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-9302170960404440"
         data-ad-slot="8551597963"></ins>
        <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% include custom/footer.html %}
</div>
